<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %}
    <title>Login</title>
    {% endblock page_title %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1 class="header"><a class="header" href="{{url_for('index')}}">Lizardy/finance</a></h1>
    {% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                {% block form_info %}
                <form class="login100-form" action="/login" method="post">
                {% endblock form_info %}
                    {% block form_title%}
                    <span class="login100-form-title">
						Welcome
					</span>
                    {% endblock form_title%}
                    <div class="wrap-input100">
                        <h3>Email</h3>
                        <input class="input100" type="text" name="email">
                    </div>
                    <div class="wrap-input100">
                        <h3>Password</h3>
                        <input class="input100" type="password" name="pass">
                    </div>
                    <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
                            {% block btn%}
							<button class="login100-form-btn" name="log" value="logdata">
								Login
							</button>
                            {% endblock btn%}
						</div>
					</div>
                    {% block btm_text %}
                    <div class="text-center">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{{url_for('singup')}}">
							Sign Up
						</a>
					</div>
                    {% endblock btm_text %}
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>